# Dependencies
node_modules

# Build outputs
dist
.next

# Bun
bun.lockb

# Environment
.env
.env.local
.env.*.local

# Database
*.db
*.db-shm
*.db-wal

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/