@import "tailwindcss";

@font-face {
  font-family: "Bogart";
  src: url("/fonts/Bogart-Regular-trial.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-bogart: "Bogart", sans-serif;
}

html,
body,
#root {
  min-height: 100%;
}

body {
  margin: 0;
  background: #111;
  font-family: sans-serif;
}
